@import "root.css";
.snp-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88px;
  margin: 135px 0 0 0;
  background-color: var(--input-border-color-1);
}
.snp-footer-wrapper .snp-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.snp-footer-wrapper .snp-footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 527px;
}
.snp-footer-wrapper .snp-footer .row .snp-footer-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.snp-footer-wrapper .snp-footer .row .snp-footer-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.snp-footer-wrapper .snp-footer .row .snp-footer-col-2 .snp-footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.snp-footer-wrapper .snp-footer .row .snp-footer-col-2 .snp-footer-links .snp-footer-links-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.snp-footer-wrapper .snp-footer .row .snp-footer-col-2 .snp-footer-links .snp-footer-links-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  color: var(--text-color-2);
  text-align: left;
  text-decoration: none;
}
.snp-footer-wrapper .snp-footer .row .snp-footer-col-2 .snp-footer-links .snp-footer-links-text a:hover {
  -webkit-text-decoration: underline 1px var(--text-color-2);
          text-decoration: underline 1px var(--text-color-2);
  text-underline-offset: 4px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  cursor: pointer;
}