@import "root.css";
.snp-container-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.snp-container-6 .snp-container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.snp-container-6 .snp-container-content .snp-container-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  gap: 50px;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card {
  position: relative;
  width: 1170px;
  height: 567px;
  color: var(--text-color-1);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 50px;
  -webkit-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card:hover {
    background-size: 120% 120%;
    cursor: pointer;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card:hover button {
    background-color: var(--text-color-4);
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card:active button {
    background-color: var(--orange-200);
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
  }
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards button {
  padding: 7px 20px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  text-align: left;
  color: var(--text-color-1);
  background: none;
  border: none;
  border-radius: 50px;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards button .card-btn-text {
  padding-right: 15px;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards svg {
  fill: var(--text-color-1);
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(0.01%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 50px;
  cursor: pointer;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 60px 0 60px;
  gap: 37px;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-title h3 {
  text-align: left;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-title p {
  text-align: left;
  color: var(--text-color-1);
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-title ul {
  padding: 0 0 0 17px;
  color: var(--text-color-1);
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-title li {
  text-align: left;
  color: var(--text-color-1);
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 60px 60px 40px;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-button .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-button .row .card-button-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-button .row .card-button-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  gap: 35px;
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-button .row .card-button-col-2 a {
  text-align: center;
  text-decoration: none;
  color: var(--text-color-1);
}
.snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-button .row .card-button-col-2 a:hover {
  -webkit-text-decoration: underline 1px var(--text-color-1);
          text-decoration: underline 1px var(--text-color-1);
  text-underline-offset: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--text-color-1);
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card-gradient .card-body .card-button .row .card-button-col-2 a:active {
    -webkit-text-decoration: underline 1px var(--orange-200);
            text-decoration: underline 1px var(--orange-200);
    text-underline-offset: 2px;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: var(--orange-200);
    cursor: pointer;
  }
}