@import "root.css";
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-nav .nav {
  gap: 30px;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-nav .nav button {
  color: var(--text-color-2);
  background: none;
  border: none;
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  text-align: left;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-nav .nav button:hover {
  color: var(--text-color-2);
  -webkit-text-decoration: underline 2px var(--text-color-2);
          text-decoration: underline 2px var(--text-color-2);
  text-underline-offset: 10px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 370px;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 531px;
  border-radius: 50px;
  border: none;
  padding: 0 !important;
  -webkit-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
  color: var(--text-color-1);
  cursor: pointer;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card:hover {
  background-size: 120% 120%;
  cursor: pointer;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card:hover .card-gradient .card-body .card-button button {
  background-color: var(--text-color-4);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card:active .card-gradient .card-body .card-button button {
  background-color: var(--orange-200);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5))) !important;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) !important;
  border-radius: 50px;
  height: 100%;
  padding-bottom: 43px;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin: 50px 50px 0px 50px;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body .card-title h3,
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body .card-title p {
  text-align: start;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body .card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body .card-button button {
  text-align: left;
  background: none;
  border: none;
  color: var(--text-color-1);
  border-radius: 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 7px 20px;
  margin: 0 0 0 30px;
  cursor: pointer;
}
.snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body .card-button img {
  padding-left: 15px;
  fill: var(--text-color-1);
}