@import "header.css";
@import "section.css";
@import "section1.css";
@import "section2.css";
@import "section3.css";
@import "section4.css";
@import "section5.css";
@import "section6.css";
@import "sectionFooter.css";
@import "footer.css";
:root {
  --text-color-1: #FFF;
  --text-color-2: #1B1F2B;
  --text-color-3: #A6A6A6;
  --text-color-4: #286562;
  --input-color-1: #F9F7F4;
  --input-border-color-1: #F4F0E9;
  --orange-200: #EFA501;
}

.snp-text-h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 769px) {
  .snp-text-h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 571px) {
  .snp-text-h1 {
    font-size: 52px;
  }
}
@media screen and (max-width: 426px) {
  .snp-text-h1 {
    font-size: 34px;
    line-height: 112%;
  }
}
.snp-text-h2 {
  font-size: 59px;
  font-weight: 700;
  line-height: 124%;
  text-align: center;
}

@media screen and (max-width: 571px) {
  .snp-text-h2 {
    font-size: 40px;
    line-height: 120%;
  }
}
@media screen and (max-width: 426px) {
  .snp-text-h2 {
    font-size: 34px;
    line-height: 112%;
  }
}
.snp-text-h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .snp-text-h3 {
    font-size: 27px;
    font-weight: 600;
    line-height: 121%;
  }
}
@media screen and (max-width: 571px) {
  .snp-text-h3 {
    font-size: 25px;
    line-height: 120%;
  }
}
@media screen and (max-width: 426px) {
  .snp-txt-h3 {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
  }
}
.snp-text-p-big {
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  text-align: center;
}

@media screen and (max-width: 571px) {
  .snp-text-p-big {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 426px) {
  .snp-text-p-big {
    font-size: 16px;
    line-height: 142%;
  }
}
.snp-text-p-normal {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  color: var(--text-color-3);
}

@media screen and (max-width: 571px) {
  .snp-text-p-normal {
    font-size: 18px;
  }
}
@media screen and (max-width: 426px) {
  .snp-text-p-normal {
    font-size: 16px;
  }
}
.snp-text-p-small {
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.01em;
  text-align: center;
}

@media screen and (max-width: 426px) {
  .snp-text-p-small {
    font-size: 16px;
  }
}
.snp-sectionList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .snp-container .snp-container-content .snp-container-content-row {
    width: 918px;
  }
  .snp-header-wrapper .snp-header .row .col-12 {
    gap: 62px;
  }
  .snp-header-wrapper .snp-header .row .col-12 .nav {
    gap: 40px;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col .card {
    height: 841px;
  }
  .snp-container-5 .snp-container-content {
    padding: 0 25px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row {
    width: 100%;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row {
    gap: 25px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card {
    width: 975px;
    background-size: 120% 100%;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card:hover {
    background-size: 144% 120%;
  }
  .snp-footer-wrapper .snp-footer .row {
    gap: 277px;
  }
}
@media screen and (max-width: 1025px) {
  .snp-container .snp-container-content .snp-container-content-row {
    width: 900px;
  }
  .snp-header-wrapper .snp-header .row .col-12 .nav {
    gap: 30px;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-row-2 .snp-container-1-content-high-br {
    display: none;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-row-2 .snp-container-1-content-middle-br {
    display: block;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-row-2 .snp-container-1-content-mobile-br {
    display: none;
  }
  .snp-container-2 .snp-container-content {
    margin: 0;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row {
    gap: 18px 18px;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col {
    width: 450px;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card {
    background-size: 100% 120%;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card:hover {
    background-size: 120% 144%;
  }
  .snp-container-3 .snp-container-content {
    margin: 0;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card {
    padding: 60px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row {
    gap: 0 20px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-2 {
    gap: 11px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-2 .checkbox-label p {
    margin-left: 37px;
  }
  .snp-container-4 .snp-container-content {
    margin: 0;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row {
    width: 100%;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row {
    gap: 18px;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col {
    width: 450px;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col .card {
    height: 841px;
  }
  .snp-container-5 .snp-container-content {
    padding: 0 20px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row {
    width: 100%;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards {
    gap: 30px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row {
    gap: 20px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .row-1-photo-2 {
    display: none;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .row-2-photo-3 {
    display: none;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .row-3-photo-4 {
    display: none;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card {
    width: 100%;
    background-size: 120% 100%;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card:hover {
    background-size: 144% 120%;
  }
}
@media screen and (max-width: 950px) {
  .snp-container .snp-container-content .snp-container-content-row {
    width: 90%;
  }
  .snp-header-wrapper .snp-header .row .col-12 {
    gap: 100px;
  }
  .snp-header-wrapper .snp-header .row .col-12 .nav-item {
    display: none;
  }
  .snp-container-3 .snp-container-content {
    min-width: 100%;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card {
    padding: 40px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .snp-container-4 .snp-container-content {
    min-width: 100%;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col .card {
    height: 950px;
    padding: 30px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row {
    width: 100%;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .col {
    border-radius: 40px;
  }
  .snp-container-6 .snp-container-content {
    min-width: 100%;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card {
    border-radius: 35px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient {
    border-radius: 35px;
  }
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-content-cards .card .snp-container-footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-content-cards .card .snp-container-footer-row .snp-container-footer-col-2 .card-body .card-title h3,
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-content-cards .card .snp-container-footer-row .snp-container-footer-col-2 .card-body .card-title p {
    text-align: center;
  }
  .snp-footer-wrapper .snp-footer .row {
    gap: 100px;
  }
}
@media screen and (max-width: 769px) {
  .snp-container {
    padding-top: 100px;
  }
  .snp-container .snp-container-content .snp-container-content-row {
    gap: 75px;
  }
  .snp-header-wrapper .snp-header .row .col-12 {
    gap: 75px;
  }
  .snp-header-wrapper .snp-header .row .col-12 .nav {
    display: none;
  }
  .snp-container-1 {
    height: 778px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 33px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col .card-input-select-box-img .card-input-select-img {
    margin-top: 52.4px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col input,
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col select {
    height: 59px;
    padding: 15px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col textarea {
    height: 142px;
    padding: 15px;
  }
}
@media screen and (max-width: 769px) and (max-width: 571px) {
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 769px) {
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col .card {
    height: 100%;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col .card .card-body .card-text {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 40px 0 0 0;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card {
    width: 100%;
    height: 500px;
    background-size: 170% 100%;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-title {
    padding: 40px 40px 0 40px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-title .snp-container-6-content-mobile-br {
    display: none;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-button {
    padding: 0 40px 40px 40px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-button .row button {
    padding: 1.5px 0;
    margin: 0;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-button .row .card-button-col-2 {
    display: none;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card:hover {
    background-size: 204% 120%;
  }
  .snp-container-footer .snp-container-content {
    margin: 0;
  }
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-footer-content-cards .card .snp-container-footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-footer-content-cards .card .snp-container-footer-row .snp-container-footer-col-2 .card-body {
    width: 100%;
    padding: 0;
  }
  .snp-footer-wrapper {
    height: 95px;
    margin-top: 100px;
  }
  .snp-footer-wrapper .snp-footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 701px) {
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 18px;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col .card .card-body .card-text .card-text-text br {
    display: block;
  }
}
@media screen and (max-width: 601px) {
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-3 button {
    width: 160px;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col {
    height: 600px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .col {
    min-height: 200px;
    border-radius: 30px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .row-1-photo-3 {
    display: none;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .row-2-photo-2 {
    display: none;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .row-3-photo-3 {
    display: none;
  }
}
@media screen and (max-width: 571px) {
  .snp-container-1 {
    height: 600px;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 {
    padding-bottom: 70px;
    gap: 70px;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 {
    gap: 45px;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 .col-12 button {
    width: 114px;
    height: 33px;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 .col-12 .snp-container-1-content-high-br {
    display: none;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 .col-12 .snp-container-1-content-middle-br {
    display: none;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 .col-12 .snp-container-1-content-mobile-br {
    display: block;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .snp-container-content-cards .card {
    padding: 20px;
    border-radius: 30px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card {
    background-size: 250% 100%;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card:hover {
    background-size: 300% 120%;
  }
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-content-cards .card .snp-container-footer-row .snp-container-footer-col-1 img {
    width: 220px;
    height: 220px;
    border-radius: 30px;
  }
}
@media screen and (max-width: 426px) {
  .snp-container {
    padding-top: 75px;
  }
  .snp-container .snp-container-content .snp-container-content-row {
    gap: 40px;
  }
  .snp-container .snp-container-content .snp-container-content-row .snp-container-content-nav {
    gap: 20px;
  }
  .snp-header-wrapper {
    padding: 0 20px;
  }
  .snp-header-wrapper .snp-header .row .col-12 {
    gap: 63px;
  }
  .snp-header-wrapper .snp-header .row .col-12 svg {
    width: 133px;
    height: 22px;
  }
  .snp-container-1 {
    height: 488px;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 {
    padding-bottom: 52px;
    gap: 52px;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 {
    width: 100%;
    gap: 40px;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 button {
    width: 114px;
    height: 33px;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 .snp-container-1-content-high-br {
    display: none;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 .snp-container-1-content-middle-br {
    display: none;
  }
  .snp-container-1 .snp-container-1-content .snp-container-1-content-row-1 .snp-container-1-content-col-1 .snp-container-1-content-row-2 .snp-container-1-content-mobile-br {
    display: block;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-nav .nav {
    gap: 10px;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-nav .nav button:hover {
    text-underline-offset: 4px;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row {
    gap: 18px 0;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col {
    width: 318px;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card {
    height: 318px;
    background-size: 105% 145%;
    border-radius: 20px;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card:hover {
    background-size: 126% 174%;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card:hover .card-gradient .card-body .card-button button {
    background-color: rgba(0, 0, 0, 0);
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card:active .card-gradient .card-body .card-button button {
    background-color: rgba(0, 0, 0, 0);
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient {
    padding: 0;
    border-radius: 20px;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body {
    padding: 25px;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body .card-title {
    margin: 0;
    gap: 13px;
  }
  .snp-container-2 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .snp-container-content-cards-col .card-gradient .card-body .card-button button {
    padding: 0;
    margin: 0;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card {
    width: 318px;
    padding: 20px;
    border-radius: 30px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body {
    gap: 30px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input {
    gap: 30px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col input {
    height: 46px;
    padding: 10px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col input::-webkit-input-placeholder {
    color: var(--text-color-3);
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col input::-moz-placeholder {
    color: var(--text-color-3);
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col input:-ms-input-placeholder {
    color: var(--text-color-3);
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col input::-ms-input-placeholder {
    color: var(--text-color-3);
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col input::placeholder {
    color: var(--text-color-3);
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col textarea {
    height: 132px;
    padding: 10px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col select {
    height: 46px;
    padding: 10px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col .card-input-select-box-img {
    padding: 0 10px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-input .row .snp-container-content-cards-col .card-input-select-box-img .card-input-select-img {
    margin-top: 40.71px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row {
    gap: 30px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row input {
    width: 20px;
    height: 20px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-1 .card-button-row-col-1-radioBtn {
    gap: 30px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-1 .card-button-row-col-1-radioBtn .input {
    gap: 10px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-2 {
    gap: 10px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-2 .card-button-br-1, .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-2 .card-button-br-2 {
    display: block;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-3 {
    gap: 10px;
  }
  .snp-container-3 .snp-container-content .snp-container-content-row .form .snp-container-content-cards .card .card-body .card-button .card-button-row .card-button-row-col-3 button {
    width: 124px;
    height: 37px;
    padding: 12px 29.5px;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col {
    width: 318px;
  }
  .snp-container-4 .snp-container-content .snp-container-content-row .snp-container-content-cards .snp-container-content-cards-row .snp-container-content-cards-col .card {
    padding: 20px;
    border-radius: 20px;
  }
  .snp-container-5 .snp-container-content {
    padding: 0 21px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards {
    padding: 0;
    gap: 18px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row {
    gap: 18px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .col {
    min-height: 110px;
    border-radius: 20px;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .row-1-photo-3 {
    display: none;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .row-2-photo-2 {
    display: none;
  }
  .snp-container-5 .snp-container-content .snp-container-content-row .snp-container-content-cards .row .row-3-photo-3 {
    display: none;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards {
    gap: 20px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card {
    width: 318px;
    height: 455px;
    background-size: 300% 100%;
    border-radius: 20px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient {
    border-radius: 20px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-title {
    padding: 30px 25px 0 30px;
    gap: 20px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-title .snp-container-6-content-mobile-br {
    display: none;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-button {
    padding: 0 0 31.5px 25px;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-button .row button {
    padding: 0;
    margin: 0;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card .card-gradient .card-body .card-button .row .card-button-col-2 {
    display: none;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card:hover {
    background-size: 360% 120%;
  }
  .snp-container-6 .snp-container-content .snp-container-content-row .snp-container-content-cards .card:hover button {
    background-color: rgba(0, 0, 0, 0);
  }
  .snp-container-footer .snp-container-content {
    margin: 0;
  }
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-content-cards .card {
    width: 291px;
  }
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-content-cards .card .snp-container-footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-content-cards .card .snp-container-footer-row .snp-container-footer-col-1 img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
  }
  .snp-container-footer .snp-container-content .snp-container-content-row .snp-container-content-cards .card .snp-container-footer-row .snp-container-footer-col-2 .card-body {
    width: 100%;
    padding: 0;
  }
  .snp-footer-wrapper {
    height: 95px;
    margin: 75px 0 0 0;
    padding: 21px 21.5px;
  }
  .snp-footer-wrapper .snp-footer .row {
    width: 100%;
    gap: 7px;
  }
  .snp-footer-wrapper .snp-footer .row .snp-footer-col-1 {
    margin: 0;
  }
  .snp-footer-wrapper .snp-footer .row .snp-footer-col-2 .snp-footer-links {
    gap: 15px;
  }
  .snp-footer-wrapper .snp-footer .row .snp-footer-col-2 .snp-footer-links .snp-footer-links-text svg {
    width: 20px;
    height: 20px;
  }
}