:root
    --text-color-1: #FFF
    --text-color-2: #1B1F2B
    --text-color-3: #A6A6A6
    --text-color-4: #286562
    --input-color-1: #F9F7F4
    --input-border-color-1: #F4F0E9
    --orange-200: #EFA501

.snp-text-h1
    font-size: 96px
    font-weight: 700
    line-height: 109%
    text-align: center
    letter-spacing: 0.02em
@media screen and (max-width: 769px)
    .snp-text-h1
        font-size: 80px
@media screen and (max-width: 571px)
    .snp-text-h1
        font-size: 52px
@media screen and (max-width: 426px)
    .snp-text-h1
        font-size: 34px
        line-height: 112%

.snp-text-h2
    font-size: 59px
    font-weight: 700
    line-height: 124%
    text-align: center
@media screen and (max-width: 571px)
    .snp-text-h2
        font-size: 40px
        line-height: 120%
@media screen and (max-width: 426px)
    .snp-text-h2
        font-size: 34px
        line-height: 112%

.snp-text-h3
    font-size: 35px
    font-weight: 500
    line-height: 122%
    text-align: center
@media screen and (max-width: 769px)
    .snp-text-h3
        font-size: 27px
        font-weight: 600
        line-height: 121%
@media screen and (max-width: 571px)
    .snp-text-h3
        font-size: 25px
        line-height: 120%
@media screen and (max-width: 426px)
    .snp-txt-h3
        font-size: 23px
        font-weight: 700
        line-height: 120%

.snp-text-p-big
    font-size: 23px
    font-weight: 700
    line-height: 122%
    text-align: center
@media screen and (max-width: 571px)
    .snp-text-p-big
        font-size: 20px
        line-height: 130%
        letter-spacing: 0.7px
@media screen and (max-width: 426px)
    .snp-text-p-big
        font-size: 16px
        line-height: 142%

.snp-text-p-normal
    font-size: 20px
    font-weight: 400
    line-height: 142%
    text-align: center
    color: var(--text-color-3)
@media screen and (max-width: 571px)
    .snp-text-p-normal
        font-size: 18px
@media screen and (max-width: 426px)
    .snp-text-p-normal
        font-size: 16px

.snp-text-p-small
    font-size: 17px
    font-weight: 400
    line-height: 142%
    letter-spacing: -0.01em
    text-align: center
@media screen and (max-width: 426px)
    .snp-text-p-small
        font-size: 16px