@import root.css

.snp-container-footer
        .snp-container-footer-content
        color: var(--text-color-2)
        .snp-container-footer-content-cards
            .card
                width: 771px
                border-radius: 50px !important
                border: none
                background-color: var(--input-color-1)
                white-space: nowrap
                img
                    width: 370px
                    height: 370px
                    border-radius: 50px !important
                h3
                    font-size: 35px
                    font-weight: 500
                    line-height: 42.7px
                    text-align: left
                p
                    color: var(--text-color-3)
                    font-size: 20px
                    line-height: 142%
                    text-align: left
                .snp-container-footer-row
                    gap: 30px !important
                    .card-body
                        padding: 104px 0 0 0 !important
                        .card-title
                            gap: 20px !important
                            a
                                color: var(--text-color-2) !important
                                font-size: 20px
                                line-height: 28.4px
                                text-align: center
                                text-decoration: none
                            a:hover
                                color: var(--text-color-2) !important
                                text-decoration: underline 2px var(--text-color-2)
                                text-underline-offset: 1px
                                text-decoration-skip-ink: none
                                cursor: pointer
                            a:active
                                color: var(--text-color-4) !important
                                text-decoration: underline 2px var(--text-color-4) !important
                                text-underline-offset: 1px
                                text-decoration-skip-ink: none
                                cursor: pointer