@import root.css

.snp-container-5
    .snp-container-content
        width: 100%
        padding: 0 30px
        .snp-container-content-row
            width: 100%
            .snp-container-content-cards
                gap: 30px
                .row
                    width: 100%
                    height: auto
                    gap: 30px
                    .col
                        width: 100%
                        min-height: 301px
                        border-radius: 50px
                        background-repeat: no-repeat
                        background-position: center center
                        -webkit-background-size: cover
                        -moz-background-size: cover
                        -o-background-size: cover
                        background-size: cover //100% 100%