@import root.sass
@import header.css
@import section.css
@import section1.css
@import section2.css
@import section3.css
@import section4.css
@import section5.css
@import section6.css
@import sectionFooter.css
@import footer.css

.snp-sectionList
    display: flex
    flex-direction: column
    gap: 135px

.button-choosed
    color: var(--orange-200) !important
    text-decoration: underline 2px var(--orange-200)
    text-underline-offset: 10px
    text-decoration-skip-ink: none

.button-choosed:hover
    color: var(--orange-200) !important
    text-decoration: underline 2px var(--orange-200) !important
    text-underline-offset: 10px
    text-decoration-skip-ink: none

@media screen and (max-width: 1200px)
    .snp-header-wrapper
        .snp-header
            .col-12
                gap: 62px
                .nav
                    gap: 40px

    .snp-container-6
        padding: 0 53px
        .snp-container-6-content
            .snp-container-6-content-row
                .snp-container-6-content-cards
                    .card
                        width: 975px
                        -webkit-background-size: 120% 100%
                        -moz-background-size: 120% 100%
                        -o-background-size: 120% 100%
                        background-size: 120% 100%
                    .card:hover
                        -webkit-background-size: 120%*1.2 100%*1.2
                        -moz-background-size: 120%*1.2 100%*1.2
                        -o-background-size: 120%*1.2 100%*1.2
                        background-size: 120%*1.2 100%*1.2

    .snp-footer-wrapper
        .snp-footer
            .row
                gap: 277px

@media screen and (max-width: 1025px)
    .snp-sectionList
        gap: 135px

    .snp-header-wrapper
        .snp-header
            .col-12
                .nav
                    gap: 30px
    
    .snp-container-1
        .snp-container-1-content
            .snp-container-1-content-row-1
                .snp-container-1-content-row-2
                    .snp-container-1-content-high-br
                        display: none
                    .snp-container-1-content-middle-br
                        display: block
                    .snp-container-1-content-mobile-br
                        display: none

    .snp-container-2
        padding: 0 53px
        .snp-container-2-content
            margin: 0
            .snp-container-2-content-cards
                .row
                    gap: 18px 18px
                    .snp-container-2-content-cards-col
                        width: 450px
                        .card
                            -webkit-background-size: 100% 120%
                            -moz-background-size: 100% 120%
                            -o-background-size: 100% 120%
                            background-size: 100% 120%
                        .card:hover
                            -webkit-background-size: 100%*1.2 120%*1.2
                            -moz-background-size: 100%*1.2 120%*1.2
                            -o-background-size: 100%*1.2 120%*1.2
                            background-size: 100%*1.2 120%*1.2

    .snp-container-3
        padding: 0 53px
        .snp-container-3-content
            margin: 0
            .snp-container-3-content-cards
                .card
                    padding: 60px
                    .card-body
                        .card-input
                            .row
                                gap: 0 20px
                            .col
                                gap: 8px
                        .card-button
                            .card-button-row
                                .padding-col-2
                                    gap: 11px
                                    p
                                        margin-left: 26px+11px

    .snp-container-4
        padding: 0 53px
        .snp-container-4-content
            margin: 0
            .snp-container-4-content-row-1
                width: 100%
                .snp-container-4-content-cards
                    .snp-container-4-content-cards-row-2
                        gap: 0 18px
                        .snp-container-4-content-cards-col
                            width: 450px
                            .card
                                height: 841px

    .snp-container-5
        .snp-container-5-content
            .snp-container-5-content-row
                .snp-container-5-content-images
                    padding: 0 20px
                    gap: 30px
                    .row
                        gap: 20px
                    .row-1-photo-2
                        display: none
                    .row-2-photo-3
                        display: none
                    .row-3-photo-4
                        display: none

    .snp-container-6
        padding: 0 53px
        .snp-container-6-content
            .snp-container-6-content-row
                .snp-container-6-content-cards
                    .card
                        // width: 918px
                        width: 100%
                        -webkit-background-size: 120% 100%
                        -moz-background-size: 120% 100%
                        -o-background-size: 120% 100%
                        background-size: 120% 100%
                    .card:hover
                        -webkit-background-size: 120%*1.2 100%*1.2
                        -moz-background-size: 120%*1.2 100%*1.2
                        -o-background-size: 120%*1.2 100%*1.2
                        background-size: 120%*1.2 100%*1.2

@media screen and (max-width: 992px)

    .snp-header-wrapper
        .snp-header
            .col-12
                a, p
                    font-size: 20px     
                .nav-item-2
                    display: none                                  

    .snp-container-3
        .snp-container-3-content
            min-width: 100%

    .snp-container-4
        .snp-container-4-content
            min-width: 100%
            .snp-container-4-content-row-1
                .snp-container-4-content-cards
                    width: 100%

    .snp-container-6
        .snp-container-6-content
            min-width: 100%

    .snp-footer-wrapper
        .snp-footer
            .row
                gap: 100px

@media screen and (max-width: 769px)
    .snp-header-wrapper
        .snp-header
            .col-12
                gap: 75px
                .nav
                    display: none

    .snp-container-3
        .snp-container-3-content
            .snp-container-3-content-row
                .snp-container-3-content-cards
                    .card
                        .card-body
                            .card-input
                                .row
                                    flex-direction: column
                                    gap: 33px
                            @media screen and (max-width: 571px)
                                .card-button
                                    .card-button-row
                                        .padding-col-3
                                            gap: 10px
                                            flex-direction: column

        .snp-container-6
            .snp-container-6-content
                .snp-container-6-content-row
                    .snp-container-6-content-col-2
                        .snp-container-6-content-cards
                            .card 
                                -webkit-background-size: 250% 100%
                                -moz-background-size: 250% 100%
                                -o-background-size: 250% 100%
                                background-size: 250% 100%
                                .card-gradient
                                    .card-body
                                        .card-title
                                            padding: 40px 40px 0 40px
                                        .card-button
                                            padding: 0 40px 40px 40px
                            .card:hover
                                -webkit-background-size: 250%*1.2 100%*1.2
                                -moz-background-size: 250%*1.2 100%*1.2
                                -o-background-size: 250%*1.2 100%*1.2
                                background-size: 250%*1.2 100%*1.2

    @media screen and (max-width: 701px)
        .snp-container-4
            .snp-container-4-content
                .snp-container-4-content-row-1
                    .snp-container-4-content-cards
                        .snp-container-4-content-cards-row-2
                            width: 100%
                            flex-direction: column
                            gap: 18px
                            .snp-container-4-content-cards-col
                                .card
                                    .card-body
                                        .card-text
                                            .card-text-text
                                                br
                                                    display: block

    @media screen and (max-width: 601px)
        .snp-container-4
            .snp-container-4-content
                .snp-container-4-content-row-1
                    .snp-container-4-content-cards
                        .snp-container-4-content-cards-row-2
                            .snp-container-4-content-cards-col
                                .snp-container-4-content-card-1
                                    height: 600px

        .snp-container-5
            .snp-container-5-content
                .snp-container-5-content-row
                    .snp-container-5-content-images
                        .row
                            .col
                                border-radius: 30px
                                min-height: 200px
                            .row-1-photo-3
                                display: none
                            .row-2-photo-2
                                display: none
                            .row-3-photo-3
                                display: none

    .snp-container-6
        .snp-container-6-content
            width: 100%
            .snp-container-6-content-row
                .snp-container-6-content-cards
                    .card
                        width: 100%
                        max-height: 567px
                        -webkit-background-size: 150% 100%
                        -moz-background-size: 150% 100%
                        -o-background-size: 150% 100%
                        background-size: 150% 100%
                    .card:hover
                        -webkit-background-size: 150%*1.2 100%*1.2
                        -moz-background-size: 150%*1.2 100%*1.2
                        -o-background-size: 150%*1.2 100%*1.2
                        background-size: 150%*1.2 100%*1.2

    @media screen and (max-width: 746px)
        .snp-container-6
            .snp-container-6-content
                .snp-container-6-content-row
                    .snp-container-6-content-col-2
                        .snp-container-6-content-cards
                            .card
                                .card-body
                                    .card-button
                                        .row
                                            .card-button-col-2
                                                display: none

    @media screen and (max-width: 723px)
        .snp-container-6
            .snp-container-6-content
                .snp-container-6-content-row
                    .snp-container-6-content-col-2
                        .snp-container-6-content-cards
                            .card
                                .card-body
                                    .card-title
                                        .snp-container-6-content-mobile-br
                                            display: none
                                    .card-button
                                        padding-left: 60px 
                                        .row
                                            button
                                                margin: 0
                                                padding: 0

    .snp-container-footer
        padding: 0 34.5px
        .snp-container-footer-content
            margin: 0
            .snp-container-footer-content-cards
                .card
                    .snp-container-footer-row
                        flex-direction: column
                        .card-body
                            width: 100%
                            padding: 0

    .snp-footer-wrapper
        height: 95px
        .snp-footer
            .row
                flex-direction: column
                gap: 10px
    
@media screen and (max-width: 571px)
    .snp-container-1
        .snp-container-1-content
            .snp-container-1-content-row-1
                .snp-container-1-content-row-2
                    gap: 65px

    .snp-container-3
        .snp-container-3-content
            .snp-container-3-content-row
                .snp-container-3-content-cards
                    .card
                        border-radius: 30px
                        padding: 20px
                        .card-body
                            .card-button
                                .card-button-row
                                    .padding-col-3
                                        gap: 10px
                                        flex-direction: column

    .snp-container-6
        .snp-container-6-content
            .snp-container-6-content-row
                .snp-container-6-content-cards
                    .card   
                        -webkit-background-size: 250% 100%
                        -moz-background-size: 250% 100%
                        -o-background-size: 250% 100%
                        background-size: 250% 100%
                    .card:hover
                        -webkit-background-size: 250%*1.2 100%*1.2
                        -moz-background-size: 250%*1.2 100%*1.2
                        -o-background-size: 250%*1.2 100%*1.2
                        background-size: 250%*1.2 100%*1.2

@media screen and (max-width: 426px)
    .snp-sectionList
        gap: 75px

    .snp-header-wrapper
        padding: 0 20px
        .snp-header
            .col-12
                gap: 63px
                img
                    width: 133px
                    height: 22px

    .button-choosed
        text-underline-offset: 4px !important
        text-decoration-skip-ink: none
    .button-choosed:hover
        color: var(--orange-200) !important
        text-decoration: underline 2px var(--orange-200) !important
        text-underline-offset: 4px !important
        text-decoration-skip-ink: none

    .snp-container-1
        // min-height: 488px
        height: 488px
        .snp-container-1-content
            height: 100%
            // min-height: 488px
            .snp-container-1-content-row-1
                width: 100vw
                gap: 52px
                padding-bottom: 52px
                .snp-container-1-content-row-2
                    width: 100%
                    gap: 40px
                    button
                        width: 114px
                        height: 33px
                    .snp-container-1-content-high-br
                        display: none
                    .snp-container-1-content-middle-br
                        display: none
                    .snp-container-1-content-mobile-br
                        display: block


    .snp-container-2
        padding: 0 21px
        .snp-container-2-content
            gap: 50px
            .snp-container-2-content-nav
                gap: 30px
                .nav
                    gap: 10px
                    button:hover
                        text-underline-offset: 4px !important
                        text-decoration-skip-ink: none
            .snp-container-2-content-cards
                .row
                    gap: 18px
                    .snp-container-2-content-cards-col
                        width: 318px
                        .card
                            -webkit-background-size: 105% 145%
                            -moz-background-size: 105% 145%
                            -o-background-size: 105% 145%
                            background-size: 105% 145%
                            border-radius: 20px
                            height: 318px
                        .card:hover
                            -webkit-background-size: 105%*1.2 145%*1.2
                            -moz-background-size: 105%*1.2 145%*1.2
                            -o-background-size: 105%*1.2 145%*1.2
                            background-size: 105%*1.2 145%*1.2
                            .card-gradient
                                .card-body
                                    .card-button
                                        button
                                            background-color: #00000000
                        .card:active
                            .card-gradient
                                .card-body
                                    .card-button
                                        button
                                            background-color: #00000000
                        .card-gradient
                            padding: 0
                            border-radius: 20px
                            .card-body
                                padding: 25px
                                .card-title
                                    gap: 13px
                                    margin: 0
                                .card-button
                                    button
                                        padding: 0
                                        margin: 0

    .snp-container-3
        padding: 0
        .snp-container-3-content
            .snp-container-3-content-row
                gap: 40px
            .snp-container-3-content-nav
                gap: 20px
            .snp-container-3-content-cards
                .card
                    width: 318px
                    .card-body
                        gap: 30px
                        .card-input
                            gap: 30px
                            .row
                                gap: 30px
                                flex-direction: column
                                input
                                    height: 46px 
                                    padding: 10px
                                input::placeholder
                                    color: var(--text-color-3)
                                textarea
                                    padding: 10px
                                select
                                    height: 46px 
                                    padding: 10px
                                .card-input-select-box-img
                                    padding: 0 10px
                                .card-input-select-img
                                    margin-top: 30.71px+10px
                                .snp-container-3-content-cards-comment
                                    height: 132px
                        .card-button
                            .card-button-row
                                gap: 30px
                                input
                                    width: 20px
                                    height: 20px
                                .padding-col-1
                                    .padding-col-1-col
                                        gap: 30px
                                        .input
                                            gap: 10px
                                .padding-col-2
                                    gap: 10px
                                    .card-button-br-1, .card-button-br-2
                                        display: block
                                .padding-col-3
                                    gap: 10px
                                    button
                                        padding: 12px 29.5px 

    .snp-container-4
        padding: 0 21px
        .snp-container-4-content
            .snp-container-4-content-row-1
                gap: 50px
                .snp-container-4-content-col-1
                    gap: 20px 
                .snp-container-4-content-cards
                    .snp-container-4-content-cards-row-2
                        flex-direction: column
                        width: 100%
                        .snp-container-4-content-cards-col
                            width: 318px
                            .snp-container-4-content-card-1
                                height: 408px
                            .snp-container-4-content-card-2
                                height: 592px
                            .card
                                border-radius: 20px
                                padding: 20px

    .snp-container-5
        padding: 0 21px 
        .snp-container-5-content
            .snp-container-5-content-row
                gap: 50px
                .snp-container-5-content-col
                    gap: 20px
                .snp-container-5-content-images
                    padding: 0
                    gap: 18px
                    .row
                        gap: 18px
                        .col
                            min-height: 110px
                            border-radius: 20px 
                        .row-1-photo-3
                            display: none
                        .row-2-photo-2
                            display: none
                        .row-3-photo-3
                            display: none

    .snp-container-6
        padding: 0 21px
        .snp-container-6-content
            .snp-container-6-content-row
                gap: 50px
                .snp-container-6-content-col-1
                    gap: 20px
                .snp-container-6-content-col-2
                    .snp-container-6-content-cards
                        gap: 20px
                        .card
                            -webkit-background-size: 300% 100%
                            -moz-background-size: 300% 100%
                            -o-background-size: 300% 100%
                            background-size: 300% 100%
                            width: 318px
                            height: 455px
                            border-radius: 20px
                            .card-gradient
                                border-radius: 20px
                                .card-body
                                    .card-title
                                        padding: 30px 25px 0 30px
                                        gap: 20px
                                        .snp-container-6-content-mobile-br
                                            display: none
                                    .card-button
                                        padding: 0 0 31.5px 25px
                                        .row
                                            button
                                                margin: 0
                                                padding: 0
                                            .card-button-col-2
                                                display: none
                        .card:hover
                            -webkit-background-size: 300%*1.2 100%*1.2
                            -moz-background-size: 300%*1.2 100%*1.2
                            -o-background-size: 300%*1.2 100%*1.2
                            background-size: 300%*1.2 100%*1.2
                            button
                                background-color: #00000000
    .snp-container-footer
        padding: 0 34.5px
        .snp-container-footer-content
            margin: 0
            .snp-container-footer-content-cards
                .card
                    width: 291px
                    .snp-container-footer-row
                        flex-direction: column
                        img
                            width: 130px
                            height: 133px
                            border-radius: 20px
                        .card-body
                            width: 100%
                            padding: 0

    .snp-footer-wrapper
        height: 95px
        padding: 21px 21.5px
        .snp-footer
            .row
                width: 100%
                gap: 7px
                .snp-footer-col-1
                    margin: 0
                .snp-footer-links
                    gap: 15px
                    .snp-footer-links-text
                        img
                            width: 20px
                            height: 20px