@import root.sass
@import header.css
@import section.css
@import section1.css
@import section2.css
@import section3.css
@import section4.css
@import section5.css
@import section6.css
@import sectionFooter.css
@import footer.css

.snp-sectionList
    display: flex
    flex-direction: column

@media screen and (max-width: 1200px)
    .snp-container
        .snp-container-content
            .snp-container-content-row
                width: 918px

    .snp-header-wrapper
        .snp-header
            .row
                .col-12
                    gap: 62px
                    .nav
                        gap: 40px

    .snp-container-4
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .snp-container-content-cards-row
                        .snp-container-content-cards-col
                            .card
                                height: 841px

    .snp-container-5
        .snp-container-content
            padding: 0 25px
            .snp-container-content-row
                width: 100%
                .snp-container-content-cards
                    .row
                        gap: 25px

    .snp-container-6
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .card
                        width: 975px
                        -webkit-background-size: 120% 100%
                        -moz-background-size: 120% 100%
                        -o-background-size: 120% 100%
                        background-size: 120% 100%
                    .card:hover
                        -webkit-background-size: 120%*1.2 100%*1.2
                        -moz-background-size: 120%*1.2 100%*1.2
                        -o-background-size: 120%*1.2 100%*1.2
                        background-size: 120%*1.2 100%*1.2

    .snp-footer-wrapper
        .snp-footer
            .row
                gap: 277px

@media screen and (max-width: 1025px)
    .snp-container
        .snp-container-content
            .snp-container-content-row
                width: 900px

    .snp-header-wrapper
        .snp-header
            .row
                .col-12
                    .nav
                        gap: 30px
    
    .snp-container-1
        .snp-container-1-content
            .snp-container-1-content-row-1
                .snp-container-1-content-row-2
                    .snp-container-1-content-high-br
                        display: none
                    .snp-container-1-content-middle-br
                        display: block
                    .snp-container-1-content-mobile-br
                        display: none

    .snp-container-2
        .snp-container-content
            margin: 0
            .snp-container-content-row
                .snp-container-content-cards
                    .row
                        gap: 18px 18px
                        .snp-container-content-cards-col
                            width: 450px
                            .card
                                -webkit-background-size: 100% 120%
                                -moz-background-size: 100% 120%
                                -o-background-size: 100% 120%
                                background-size: 100% 120%
                            .card:hover
                                -webkit-background-size: 100%*1.2 120%*1.2
                                -moz-background-size: 100%*1.2 120%*1.2
                                -o-background-size: 100%*1.2 120%*1.2
                                background-size: 100%*1.2 120%*1.2

    .snp-container-3
        .snp-container-content
            margin: 0
            .snp-container-content-row
                .form
                    .snp-container-content-cards
                        .card
                            padding: 60px
                            .card-body
                                .card-input
                                    .row
                                        gap: 0 20px
                                .card-button
                                    .card-button-row
                                        .card-button-row-col-2
                                            gap: 11px
                                            .checkbox-label
                                                p
                                                    margin-left: 26px+11px

    .snp-container-4
        .snp-container-content
            margin: 0
            .snp-container-content-row
                width: 100%
                .snp-container-content-cards
                    .snp-container-content-cards-row
                        gap: 18px
                        .snp-container-content-cards-col
                            width: 450px
                            .card
                                height: 841px

    .snp-container-5
        .snp-container-content
            padding: 0 20px
            .snp-container-content-row
                width: 100%
                .snp-container-content-cards
                    gap: 30px
                    .row
                        gap: 20px
                        .row-1-photo-2
                            display: none
                        .row-2-photo-3
                            display: none
                        .row-3-photo-4
                            display: none

    .snp-container-6
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .card
                        width: 100%
                        -webkit-background-size: 120% 100%
                        -moz-background-size: 120% 100%
                        -o-background-size: 120% 100%
                        background-size: 120% 100%
                    .card:hover
                        -webkit-background-size: 120%*1.2 100%*1.2
                        -moz-background-size: 120%*1.2 100%*1.2
                        -o-background-size: 120%*1.2 100%*1.2
                        background-size: 120%*1.2 100%*1.2

@media screen and (max-width: 950px)
    .snp-container
        .snp-container-content
            .snp-container-content-row
                width: 90%

    .snp-header-wrapper
        .snp-header
            .row
                .col-12
                    gap: 100px
                    .nav-item
                        display: none                                  

    .snp-container-3
        .snp-container-content
            min-width: 100%
            .snp-container-content-row
                .form
                    .snp-container-content-cards
                        .card
                            padding: 40px
                            .card-body
                                .card-button
                                    .card-button-row
                                        .card-button-row-col-3
                                            justify-content: center

    .snp-container-4
        .snp-container-content
            min-width: 100%
            .snp-container-content-row
                .snp-container-content-cards
                    .snp-container-content-cards-row
                        .snp-container-content-cards-col
                            .card
                                height: 950px
                                padding: 30px

    .snp-container-5
        .snp-container-content
            .snp-container-content-row
                width: 100%
                .snp-container-content-cards
                    .row
                        .col
                            border-radius: 40px

    .snp-container-6
        .snp-container-content
            min-width: 100%
            .snp-container-content-row
                .snp-container-content-cards
                    .card
                        border-radius: 35px
                        .card-gradient
                            border-radius: 35px

    .snp-container-footer
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .card
                        .snp-container-footer-row
                            flex-direction: column
                            .snp-container-footer-col-2
                                .card-body
                                    .card-title
                                        h3,
                                        p
                                            text-align: center

    .snp-footer-wrapper
        .snp-footer
            .row
                gap: 100px

@media screen and (max-width: 769px)
    .snp-container
        padding-top: 100px
        .snp-container-content
            .snp-container-content-row
                gap: 75px

    .snp-header-wrapper
        .snp-header
            .row
                .col-12
                    gap: 75px
                    .nav
                        display: none

    .snp-container-1
        height: 778px

    .snp-container-3
        .snp-container-content
            .snp-container-content-row
                .form
                    .snp-container-content-cards
                        .card
                            .card-body
                                .card-input
                                    .row
                                        flex-direction: column
                                        gap: 33px
                                        .snp-container-content-cards-col
                                            .card-input-select-box-img
                                                .card-input-select-img
                                                    margin-top: 36.4px+16px
                                            input,
                                            select
                                                height: 59px
                                                padding: 15px
                                            textarea
                                                height: 142px
                                                padding: 15px
                                @media screen and (max-width: 571px)
                                    .card-button
                                        .card-button-row
                                            .card-button-row-col-3
                                                flex-direction: column
                                                gap: 10px

    .snp-container-4
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .snp-container-content-cards-row
                        flex-direction: column
                        .snp-container-content-cards-col
                            .card
                                height: 100%
                                .card-body
                                    .card-text
                                        flex: 0
                                        padding: 40px 0 0 0

    .snp-container-6
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .card
                        width: 100%
                        height: 500px
                        -webkit-background-size: 170% 100%
                        -moz-background-size: 170% 100%
                        -o-background-size: 170% 100%
                        background-size: 170% 100%
                        .card-gradient
                            .card-body
                                .card-title
                                    padding: 40px 40px 0 40px
                                    .snp-container-6-content-mobile-br
                                        display: none
                                .card-button
                                    padding: 0 40px 40px 40px
                                    .row
                                        button
                                            padding: 1.5px 0
                                            margin: 0
                                        .card-button-col-2
                                            display: none
                    .card:hover
                        -webkit-background-size: 170%*1.2 100%*1.2
                        -moz-background-size: 170%*1.2 100%*1.2
                        -o-background-size: 170%*1.2 100%*1.2
                        background-size: 170%*1.2 100%*1.2

    .snp-container-footer
        .snp-container-content
            margin: 0
            .snp-container-content-row
                .snp-container-footer-content-cards
                    .card
                        .snp-container-footer-row
                            flex-direction: column
                            .snp-container-footer-col-2
                                .card-body
                                    width: 100%
                                    padding: 0

    .snp-footer-wrapper
        height: 95px
        margin-top: 100px
        .snp-footer
            .row
                flex-direction: column
                gap: 10px

@media screen and (max-width: 701px)
    .snp-container-4
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .snp-container-content-cards-row
                        width: 100%
                        flex-direction: column
                        gap: 18px
                        .snp-container-content-cards-col
                            .card
                                .card-body
                                    .card-text
                                        .card-text-text
                                            br
                                                display: block

@media screen and (max-width: 601px)
    .snp-container-3
        .snp-container-content
            .snp-container-content-row
                .form
                    .snp-container-content-cards
                        .card
                            .card-body
                                .card-button
                                    .card-button-row
                                        .card-button-row-col-3
                                            flex-direction: row
                                            gap: 20px
                                            button
                                                width: 160px

    .snp-container-4
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .snp-container-content-cards-row
                        .snp-container-content-cards-col
                            height: 600px

    .snp-container-5
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .row
                        .col
                            min-height: 200px
                            border-radius: 30px
                        .row-1-photo-3
                            display: none
                        .row-2-photo-2
                            display: none
                        .row-3-photo-3
                            display: none

@media screen and (max-width: 571px)
    .snp-container-1
        height: 600px
        .snp-container-1-content
            .snp-container-1-content-row-1
                padding-bottom: 70px
                gap: 70px
                .snp-container-1-content-col-1
                    .snp-container-1-content-row-2
                        gap: 45px
                        .col-12
                            button
                                width: 114px
                                height: 33px
                            .snp-container-1-content-high-br
                                display: none
                            .snp-container-1-content-middle-br
                                display: none
                            .snp-container-1-content-mobile-br
                                display: block

    .snp-container-3
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .card
                        padding: 20px
                        border-radius: 30px
                        .card-body
                            .card-button
                                .card-button-row
                                    .card-button-row-col-3
                                        flex-direction: column
                                        gap: 10px

    .snp-container-6
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .card   
                        -webkit-background-size: 250% 100%
                        -moz-background-size: 250% 100%
                        -o-background-size: 250% 100%
                        background-size: 250% 100%
                    .card:hover
                        -webkit-background-size: 250%*1.2 100%*1.2
                        -moz-background-size: 250%*1.2 100%*1.2
                        -o-background-size: 250%*1.2 100%*1.2
                        background-size: 250%*1.2 100%*1.2

    .snp-container-footer
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .card
                        .snp-container-footer-row
                            .snp-container-footer-col-1
                                img
                                    width: 220px
                                    height: 220px
                                    border-radius: 30px

@media screen and (max-width: 426px)
    .snp-container
        padding-top: 75px
        .snp-container-content
            .snp-container-content-row
                gap: 40px
                .snp-container-content-nav
                    gap: 20px

    .snp-header-wrapper
        padding: 0 20px
        .snp-header
            .row
                .col-12
                    gap: 63px
                    svg
                        width: 133px
                        height: 22px

    .snp-container-1
        height: 488px
        .snp-container-1-content
            .snp-container-1-content-row-1
                padding-bottom: 52px
                gap: 52px
                .snp-container-1-content-col-1
                    .snp-container-1-content-row-2
                        width: 100%
                        gap: 40px
                        button
                            width: 114px
                            height: 33px
                        .snp-container-1-content-high-br
                            display: none
                        .snp-container-1-content-middle-br
                            display: none
                        .snp-container-1-content-mobile-br
                            display: block

    .snp-container-2
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-nav
                    .nav
                        gap: 10px
                        button:hover
                            text-underline-offset: 4px
                            text-decoration-skip-ink: none
                .snp-container-content-cards
                    .row
                        gap: 18px 0
                        .snp-container-content-cards-col
                            width: 318px
                            .card
                                height: 318px
                                -webkit-background-size: 105% 145%
                                -moz-background-size: 105% 145%
                                -o-background-size: 105% 145%
                                background-size: 105% 145%
                                border-radius: 20px
                            .card:hover
                                -webkit-background-size: 105%*1.2 145%*1.2
                                -moz-background-size: 105%*1.2 145%*1.2
                                -o-background-size: 105%*1.2 145%*1.2
                                background-size: 105%*1.2 145%*1.2
                                .card-gradient
                                    .card-body
                                        .card-button
                                            button
                                                background-color: #00000000
                            .card:active
                                .card-gradient
                                    .card-body
                                        .card-button
                                            button
                                                background-color: #00000000
                            .card-gradient
                                padding: 0
                                border-radius: 20px
                                .card-body
                                    padding: 25px
                                    .card-title
                                        margin: 0
                                        gap: 13px
                                    .card-button
                                        button
                                            padding: 0
                                            margin: 0

    .snp-container-3
        .snp-container-content
            .snp-container-content-row
                .form
                    .snp-container-content-cards
                        .card
                            width: 318px
                            padding: 20px
                            border-radius: 30px
                            .card-body
                                gap: 30px
                                .card-input
                                    gap: 30px
                                    .row
                                        flex-direction: column
                                        gap: 30px
                                        .snp-container-content-cards-col
                                            input
                                                height: 46px 
                                                padding: 10px
                                            input::placeholder
                                                color: var(--text-color-3)
                                            textarea
                                                height: 132px
                                                padding: 10px
                                            select
                                                height: 46px 
                                                padding: 10px
                                            .card-input-select-box-img
                                                padding: 0 10px
                                                .card-input-select-img
                                                    margin-top: 30.71px+10px
                                .card-button
                                    .card-button-row
                                        gap: 30px
                                        input
                                            width: 20px
                                            height: 20px
                                        .card-button-row-col-1
                                            .card-button-row-col-1-radioBtn
                                                gap: 30px
                                                .input
                                                    gap: 10px
                                        .card-button-row-col-2
                                            gap: 10px
                                            .card-button-br-1, .card-button-br-2
                                                display: block
                                        .card-button-row-col-3
                                            gap: 10px
                                            button
                                                width: 124px
                                                height: 37px
                                                padding: 12px 29.5px

    .snp-container-4
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    .snp-container-content-cards-row
                        flex-direction: column
                        width: 100%
                        .snp-container-content-cards-col
                            width: 318px
                            .card
                                padding: 20px
                                border-radius: 20px

    .snp-container-5
        .snp-container-content
            padding: 0 21px
            .snp-container-content-row
                .snp-container-content-cards
                    padding: 0
                    gap: 18px
                    .row
                        gap: 18px
                        .col
                            min-height: 110px
                            border-radius: 20px 
                        .row-1-photo-3
                            display: none
                        .row-2-photo-2
                            display: none
                        .row-3-photo-3
                            display: none

    .snp-container-6
        .snp-container-content
            .snp-container-content-row
                .snp-container-content-cards
                    gap: 20px
                    .card
                        width: 318px
                        height: 455px
                        -webkit-background-size: 300% 100%
                        -moz-background-size: 300% 100%
                        -o-background-size: 300% 100%
                        background-size: 300% 100%
                        border-radius: 20px
                        .card-gradient
                            border-radius: 20px
                            .card-body
                                .card-title
                                    padding: 30px 25px 0 30px
                                    gap: 20px
                                    .snp-container-6-content-mobile-br
                                        display: none
                                .card-button
                                    padding: 0 0 31.5px 25px
                                    .row
                                        button
                                            padding: 0
                                            margin: 0
                                        .card-button-col-2
                                            display: none
                    .card:hover
                        -webkit-background-size: 300%*1.2 100%*1.2
                        -moz-background-size: 300%*1.2 100%*1.2
                        -o-background-size: 300%*1.2 100%*1.2
                        background-size: 300%*1.2 100%*1.2
                        button
                            background-color: #00000000

    .snp-container-footer
        .snp-container-content
            margin: 0
            .snp-container-content-row
                .snp-container-content-cards
                    .card
                        width: 291px
                        .snp-container-footer-row
                            flex-direction: column
                            .snp-container-footer-col-1
                                img
                                    width: 130px
                                    height: 133px
                                    border-radius: 20px
                            .snp-container-footer-col-2
                                .card-body
                                    width: 100%
                                    padding: 0

    .snp-footer-wrapper
        height: 95px
        margin: 75px 0 0 0
        padding: 21px 21.5px
        .snp-footer
            .row
                width: 100%
                gap: 7px
                .snp-footer-col-1
                    margin: 0
                .snp-footer-col-2
                    .snp-footer-links
                        gap: 15px
                        .snp-footer-links-text
                            svg
                                width: 20px
                                height: 20px