.review-section
    .card-container
        &__row
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
        &__column
            display: flex
            justify-content: center
            align-items: center
    .card
        display: flex
        height: 673px
        padding: 40px
        color: var(--text-color-2)
        background-color: var(--input-border-color-1)
        border: none
        border-radius: 50px
        &__body
            display: flex
            flex-direction: column
            height: 100%
        &__title
            p
                text-align: left
        &__text-container
            display: flex
            flex: 1
            justify-content: space-between
            align-items: flex-end
            img
                width: 75px
                height: 75px
                border-radius: 100px
        &__text-content
            display: flex
            flex-direction: column
            gap: 8px
            br
                display: none
            h3
                text-align: left
            p
                color: var(--text-color-3)