:root {
  --text-color-1: #FFF;
  --text-color-2: #1B1F2B;
  --text-color-3: #A6A6A6;
  --text-color-4: #286562;
  --input-color-1: #F9F7F4;
  --input-border-color-1: #F4F0E9;
  --orange-200: #EFA501;
}

.text-h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 769px) {
  .text-h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 571px) {
  .text-h1 {
    font-size: 52px;
  }
}
@media screen and (max-width: 481px) {
  .text-h1 {
    font-size: 34px;
    line-height: 112%;
  }
}
.text-h2 {
  font-size: 59px;
  font-weight: 700;
  line-height: 124%;
  text-align: center;
}

@media screen and (max-width: 571px) {
  .text-h2 {
    font-size: 40px;
    line-height: 120%;
  }
}
@media screen and (max-width: 481px) {
  .text-h2 {
    font-size: 34px;
    line-height: 112%;
  }
}
.text-h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .text-h3 {
    font-size: 27px;
    font-weight: 600;
    line-height: 121%;
  }
}
@media screen and (max-width: 571px) {
  .text-h3 {
    font-size: 25px;
    line-height: 120%;
  }
}
@media screen and (max-width: 481px) {
  .txt-h3 {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
  }
}
.text-p-big {
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .text-p-big {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 481px) {
  .text-p-big {
    font-size: 16px;
    line-height: 142%;
  }
}
.text-p-normal {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  color: var(--text-color-3);
}

@media screen and (max-width: 571px) {
  .text-p-normal {
    font-size: 18px;
  }
}
@media screen and (max-width: 481px) {
  .text-p-normal {
    font-size: 16px;
  }
}
.text-p-small {
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.01em;
  text-align: center;
}

@media screen and (max-width: 481px) {
  .text-p-small {
    font-size: 16px;
  }
}
.header {
  top: 0;
  left: 0;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 88px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 182px;
  color: var(--text-color-1);
}
.header p,
.header a {
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  color: var(--text-color-1);
  cursor: pointer;
}
.header a:hover {
  -webkit-text-decoration: underline var(--text-color-1);
          text-decoration: underline var(--text-color-1);
  text-underline-offset: 7px;
}
.header__nav {
  gap: 50px;
}

@-webkit-keyframes fixed-header {
  from {
    top: -88px;
  }
  to {
    top: 0;
  }
}

@keyframes fixed-header {
  from {
    top: -88px;
  }
  to {
    top: 0;
  }
}
.fixed-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  background: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-animation: fixed-header 0.3s;
          animation: fixed-header 0.3s;
}
.fixed-header-wrapper .col-12 a,
.fixed-header-wrapper .col-12 p,
.fixed-header-wrapper .col-12 svg {
  color: var(--text-color-2);
  fill: var(--text-color-2);
}
.fixed-header-wrapper .col-12 a:hover {
  -webkit-text-decoration: underline var(--text-color-2);
          text-decoration: underline var(--text-color-2);
  text-underline-offset: 7px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.containeer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 135px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}

.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  gap: 100px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  gap: 35px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}
.card-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 30px 30px;
}

.welcome-section {
  position: relative;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 831px;
  background-image: url(../media/header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.welcome-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcome-section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 119px;
  gap: 119px;
}
.welcome-section__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcome-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  gap: 50px;
}
.welcome-section__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcome-section__text p,
.welcome-section__text h1 {
  color: var(--text-color-1);
}
.welcome-section__button {
  width: 118px;
  height: 34px;
  padding: 5px 20px 5px 20px;
  text-align: left;
  white-space: nowrap;
  border: none;
  border-radius: 10px;
  opacity: 0px;
}
.welcome-section__button:hover {
  background-color: var(--orange-200);
  color: var(--text-color-1);
}
@media screen and (min-width: 1025px) {
  .welcome-section__button:active {
    background-color: #F8E6BE;
    color: var(--text-color-2);
  }
}
.welcome-section .high-br {
  display: block;
}
.welcome-section .middle-br {
  display: none;
}
.welcome-section .mobile-br {
  display: none;
}

.button-choosed p {
  -webkit-text-decoration: underline 2px var(--orange-200);
          text-decoration: underline 2px var(--orange-200);
  text-underline-offset: 10px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--orange-200);
}

.button-choosed:hover p {
  -webkit-text-decoration: underline 2px var(--orange-200);
          text-decoration: underline 2px var(--orange-200);
  text-underline-offset: 10px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--orange-200);
}

@media screen and (max-width: 571px) {
  .button-choosed p {
    -webkit-text-decoration: underline 2px var(--orange-200);
            text-decoration: underline 2px var(--orange-200);
    text-underline-offset: 4px;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: var(--orange-200);
  }
  .button-choosed:hover p {
    -webkit-text-decoration: underline 2px var(--orange-200);
            text-decoration: underline 2px var(--orange-200);
    text-underline-offset: 4px;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: var(--orange-200);
  }
}
.tours-section .navigation__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  gap: 30px;
}
.tours-section .navigation__nav button {
  text-align: left;
  color: var(--text-color-2);
  background: none;
  border: none;
}
.tours-section .navigation__nav button p {
  cursor: pointer;
}
.tours-section .navigation__nav button:hover {
  -webkit-text-decoration: underline 2px var(--text-color-2);
          text-decoration: underline 2px var(--text-color-2);
  text-underline-offset: 10px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--text-color-2);
}
.tours-section .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.tours-section .card-container__column {
  width: 370px;
}
.tours-section .card {
  width: 100%;
  height: 531px;
  padding: 0;
  color: var(--text-color-1);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  border-radius: 50px;
  border: none;
  -webkit-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
}
.tours-section .card__gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 43px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5))) !important;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) !important;
  border-radius: 50px;
  cursor: pointer;
}
.tours-section .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.tours-section .card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 50px 0px 50px;
  gap: 16px;
  cursor: pointer;
}
.tours-section .card__title h3,
.tours-section .card__title p {
  text-align: start;
  cursor: pointer;
}
.tours-section .card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  cursor: pointer;
}
.tours-section .card__button button {
  padding: 7px 20px;
  margin: 0 0 0 30px;
  text-align: left;
  color: var(--text-color-1);
  background: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.tours-section .card__btn-text {
  padding-right: 15px;
  cursor: pointer;
}
.tours-section .card__btn-text svg {
  fill: var(--text-color-1);
}
@media screen and (min-width: 769px) {
  .tours-section .card:hover {
    background-size: 120% 120%;
  }
  .tours-section .card:hover .card__button button {
    background-color: var(--text-color-4);
    -webkit-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
  }
  .tours-section .card:active .card__button button {
    background-color: var(--orange-200);
    -webkit-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
  }
}

.createTour-section__row {
  padding: 0;
}
.createTour-section .createTour-form {
  padding: 0;
}
.createTour-section .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.createTour-section .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: var(--text-color-2);
  width: 1170px;
  border: none;
  border-radius: 50px;
  padding: 70px;
}
.createTour-section .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
  gap: 33px;
}
.createTour-section .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
}
.createTour-section .input-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
.createTour-section .input-container__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 8px;
  padding: 0;
}
.createTour-section .input-container__column label,
.createTour-section .input-container__column textarea,
.createTour-section .input-container__column input,
.createTour-section .input-container__column select,
.createTour-section .input-container__column option {
  text-align: left;
  color: var(--text-color-2);
}
.createTour-section .input-container__column input {
  width: 100%;
  height: 68px;
  background-color: var(--input-color-1);
  border-radius: 10px;
  border: 1px solid var(--input-border-color-1);
  padding: 20px;
}
.createTour-section .input-container__column input::-webkit-input-placeholder {
  color: var(--text-color-3);
}
.createTour-section .input-container__column input::-moz-placeholder {
  color: var(--text-color-3);
}
.createTour-section .input-container__column input:-ms-input-placeholder {
  color: var(--text-color-3);
}
.createTour-section .input-container__column input::-ms-input-placeholder {
  color: var(--text-color-3);
}
.createTour-section .input-container__column input::placeholder {
  color: var(--text-color-3);
}
.createTour-section .input-container__column input:focus {
  outline: 1px solid var(--text-color-3);
}
.createTour-section .input-container__column input:hover {
  border: 1px solid var(--input-border-color-1);
  background-color: var(--input-border-color-1);
  cursor: pointer;
}
.createTour-section .input-container__column textarea {
  background-color: var(--input-color-1);
  border-radius: 10px;
  border: 1px solid var(--input-border-color-1);
  padding: 20px;
  height: 152px;
}
.createTour-section .input-container__column textarea:focus {
  outline: 1px solid var(--text-color-3);
}
.createTour-section .input-container__column textarea:hover {
  border: 1px solid var(--input-border-color-1);
  background-color: var(--input-border-color-1);
  cursor: pointer;
}
.createTour-section .input-container__column select {
  width: 100%;
  height: 68px;
  background-color: var(--input-color-1);
  border-radius: 10px;
  border: 1px solid var(--input-border-color-1);
  padding: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.createTour-section .input-container__column select:hover {
  border: 1px solid var(--input-border-color-1);
  background-color: var(--input-border-color-1);
  cursor: pointer;
}
.createTour-section .input-container__column select:hover option {
  background-color: var(--input-color-1);
}
.createTour-section .input-container__column select:focus {
  outline: 1px solid var(--text-color-3);
}
.createTour-section .input-container__column select:invalid {
  color: var(--text-color-3);
}
.createTour-section .input-container__select-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.createTour-section .input-container__span-image {
  margin-top: 57.4px;
}
.createTour-section .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.createTour-section .button-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 33px;
}
.createTour-section .button-container__column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  gap: 8px;
}
.createTour-section .button-container__column-1 p,
.createTour-section .button-container__column-1 label {
  color: var(--text-color-2);
  text-align: left;
}
.createTour-section .button-container__radio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
  padding: 0;
}
.createTour-section .button-container__button-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.createTour-section .button-container__radio-label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.createTour-section .button-container__radio-label label {
  color: var(--text-color-2);
  margin-left: 37px;
}
.createTour-section .button-container__radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.createTour-section .button-container__radio-button {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  border: 2px solid var(--text-color-2);
  cursor: pointer;
}
.createTour-section .button-container .button-container__radio-button:after {
  position: absolute;
  display: none;
  content: url("../media/icons/Ellipse2.svg");
}
.createTour-section .button-container .button-container__radio-label input:checked ~ .button-container__radio-button {
  background-color: #FFFFFF;
}
.createTour-section .button-container .button-container__radio-label input:checked ~ .button-container__radio-button:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
}
.createTour-section .button-container__column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  gap: 19px;
}
.createTour-section .button-container__checkbox-label {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.createTour-section .button-container__checkbox-label p {
  margin: 0 0 0 45px;
  text-align: left;
}
.createTour-section .button-container__checkbox-label p span {
  color: var(--text-color-2);
}
.createTour-section .button-container__checkbox-label span:hover {
  -webkit-text-decoration: underline var(--text-color-2);
          text-decoration: underline var(--text-color-2);
  text-underline-offset: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  cursor: pointer;
}
.createTour-section .button-container__checkbox-label span:active {
  color: var(--text-color-4);
  -webkit-text-decoration: underline var(--text-color-4);
          text-decoration: underline var(--text-color-4);
}
.createTour-section .button-container__checkbox-label input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}
.createTour-section .button-container .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  border: 2px solid var(--text-color-2);
  border-radius: 5px;
}
.createTour-section .button-container__checkbox-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.createTour-section .button-container .checkbox:after {
  position: absolute;
  display: none;
  content: url("../media/icons/Rectangle36(Stroke).svg");
}
.createTour-section .button-container .button-container__checkbox-label input:checked ~ .checkbox {
  background-color: #FFFFFF;
}
.createTour-section .button-container .button-container__checkbox-label input:checked ~ .checkbox:after {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26px;
}
.createTour-section .button-container__column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  gap: 30px;
}
.createTour-section .button-container__column-3 button {
  width: 235px;
  height: 58px;
  padding: 15px 30px;
  white-space: nowrap;
  border: none;
  border-radius: 10px;
}
.createTour-section .button-container__seach-tour-btn p {
  color: var(--text-color-1);
}
.createTour-section .button-container__clear-btn p {
  color: var(--text-color-4);
}
.createTour-section .button-container__seach-tour-btn {
  color: var(--text-color-1);
  background-color: var(--text-color-4);
}
.createTour-section .button-container .button-container__clear-btn {
  color: var(--text-color-4);
  background-color: #E0F0E5;
}
.createTour-section .button-container .button-container__seach-tour-btn:hover {
  background-color: #3B7E7B;
}
.createTour-section .button-container .button-container__clear-btn:hover {
  background-color: #F1F3F2;
}
@media screen and (min-width: 1025px) {
  .createTour-section .button-container .button-container__seach-tour-btn:active {
    background-color: #627F7E;
  }
  .createTour-section .button-container .button-container__clear-btn:active {
    background-color: #D9DFDB;
  }
}

.review-section .card-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review-section .card-container__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.review-section .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 673px;
  padding: 40px;
  color: var(--text-color-2);
  background-color: var(--input-border-color-1);
  border: none;
  border-radius: 50px;
}
.review-section .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
}
.review-section .card__title p {
  text-align: left;
}
.review-section .card__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.review-section .card__text-container img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
.review-section .card__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.review-section .card__text-content br {
  display: none;
}
.review-section .card__text-content h3 {
  text-align: left;
}
.review-section .card__text-content p {
  color: var(--text-color-3);
}

.gallery-section {
  padding-top: 135px;
}
.gallery-section__content {
  width: 100%;
  padding: 0 30px;
}
.gallery-section .content-row {
  width: 100%;
}
.gallery-section .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.gallery-section .card-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  gap: 30px;
}
.gallery-section .card-container__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 301px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50px;
}

.stories-section .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.stories-section .card {
  position: relative;
  width: 1170px;
  height: 567px;
  color: var(--text-color-1);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 50px;
  -webkit-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
  cursor: pointer;
}
.stories-section .card__gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(0.01%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 50px;
  cursor: pointer;
}
.stories-section .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
}
.stories-section .card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 60px 0 60px;
  gap: 37px;
}
.stories-section .card__title h3 {
  text-align: left;
}
.stories-section .card__title p {
  text-align: left;
  color: var(--text-color-1);
}
.stories-section .card__title ul {
  padding: 0 0 0 17px;
  color: var(--text-color-1);
}
.stories-section .card__title li {
  text-align: left;
  color: var(--text-color-1);
}
.stories-section .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 60px 60px 40px;
}
.stories-section .button-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.stories-section .button-container__column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.stories-section .button-container__column-1 button {
  padding: 7px 20px;
  text-align: left;
  color: var(--text-color-1);
  background: none;
  border: none;
  border-radius: 50px;
}
.stories-section .button-container__button-text {
  padding-right: 15px;
}
.stories-section .button-container__button-text svg {
  fill: var(--text-color-1);
}
.stories-section .button-container__column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  gap: 35px;
}
.stories-section .button-container__column-2 a {
  text-align: center;
  text-decoration: none;
  color: var(--text-color-1);
}
.stories-section .button-container__column-2 a:hover {
  -webkit-text-decoration: underline 1px var(--text-color-1);
          text-decoration: underline 1px var(--text-color-1);
  text-underline-offset: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--text-color-1);
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .stories-section .button-container__column-2 a:active {
    -webkit-text-decoration: underline 1px var(--orange-200);
            text-decoration: underline 1px var(--orange-200);
    text-underline-offset: 2px;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: var(--orange-200);
    cursor: pointer;
  }
}
@media screen and (min-width: 769px) {
  .stories-section .card:hover {
    background-size: 120% 120%;
    cursor: pointer;
  }
  .stories-section .card:hover .button-container__column-1 button {
    background-color: var(--text-color-4);
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
  }
  .stories-section .card:active .button-container__column-1 button {
    background-color: var(--orange-200);
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-container__content {
  width: 100%;
}
.footer-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-container .footer-card {
  width: 771px;
  white-space: nowrap;
  border: none;
  background-color: var(--input-color-1);
  border-radius: 50px;
}
.footer-container .footer-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
.footer-container .footer-card__column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.footer-container .footer-card__column-1 img {
  width: 370px;
  height: 370px;
  border-radius: 50px;
}
.footer-container .footer-card__column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}
.footer-container .footer-card__body {
  padding: 0;
}
.footer-container .footer-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer-container .footer-card__title p,
.footer-container .footer-card__title h3 {
  text-align: left;
  white-space: nowrap;
}
.footer-container .footer-card__title a {
  text-align: center;
  text-decoration: none;
  color: var(--text-color-2);
}
.footer-container .footer-card__title a:hover {
  -webkit-text-decoration: underline 2px var(--text-color-2);
          text-decoration: underline 2px var(--text-color-2);
  text-underline-offset: 1px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  cursor: pointer;
}
.footer-container .footer-card__title a:active {
  -webkit-text-decoration: underline 2px var(--text-color-4) !important;
          text-decoration: underline 2px var(--text-color-4) !important;
  text-underline-offset: 1px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--text-color-4);
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88px;
  margin: 135px 0 0 0;
  background-color: var(--input-border-color-1);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 527px;
}
.footer__column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.footer__column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.footer__links-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  color: var(--text-color-2);
  text-align: left;
  text-decoration: none;
}
.footer__link a:hover {
  -webkit-text-decoration: underline 1px var(--text-color-2);
          text-decoration: underline 1px var(--text-color-2);
  text-underline-offset: 4px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  cursor: pointer;
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .content-row {
    width: 918px;
  }
  .header__content {
    gap: 62px;
  }
  .header__nav {
    gap: 40px;
  }
  .review-section .card {
    height: 841px;
  }
  .gallery-section__content {
    padding: 0 25px;
  }
  .gallery-section__row {
    width: 100%;
  }
  .gallery-section .card-container__row {
    gap: 25px;
  }
  .stories-section .card {
    width: 975px;
    background-size: 120% 100%;
  }
  .stories-section .card:hover {
    background-size: 144% 120%;
  }
  .footer__row {
    gap: 277px;
  }
}
@media screen and (max-width: 1025px) {
  .content-row {
    width: 900px;
  }
  .header__nav {
    gap: 30px;
  }
  .welcome-section .high-br {
    display: none;
  }
  .welcome-section .middle-br {
    display: block;
  }
  .welcome-section .mobile-br {
    display: none;
  }
  .tours-section__content {
    margin: 0;
  }
  .tours-section__row {
    width: 100%;
  }
  .tours-section .card-container__row {
    gap: 18px 18px;
  }
  .tours-section .card-container__column {
    width: 450px;
  }
  .tours-section .card-container .card {
    background-size: 100% 120%;
  }
  .tours-section .card-container .card:hover {
    background-size: 120% 144%;
  }
  .createTour-section__content {
    margin: 0;
  }
  .createTour-section .card {
    padding: 60px;
  }
  .createTour-section .card .input-container__row {
    gap: 0 20px;
  }
  .createTour-section .card .button-container__column-2 {
    gap: 11px;
  }
  .createTour-section .card .button-container__checkbox-label p {
    margin-left: 37px;
  }
  .review-section__content {
    margin: 0;
  }
  .review-section__row {
    width: 100%;
  }
  .review-section .card-container__row {
    gap: 18px;
  }
  .review-section .card-container__column {
    width: 450px;
  }
  .review-section .card-container .card {
    height: 841px;
  }
  .gallery-section__content {
    padding: 0 20px;
  }
  .gallery-section__row {
    width: 100%;
  }
  .gallery-section .card-container {
    gap: 30px;
  }
  .gallery-section .card-container__row {
    gap: 20px;
  }
  .gallery-section .card-container .row-1-photo-2 {
    display: none;
  }
  .gallery-section .card-container .row-2-photo-3 {
    display: none;
  }
  .gallery-section .card-container .row-3-photo-4 {
    display: none;
  }
  .stories-section .card {
    width: 100%;
    background-size: 120% 100%;
  }
  .stories-section .card:hover {
    background-size: 144% 120%;
  }
}
@media screen and (max-width: 950px) {
  .content-row {
    width: 90%;
  }
  .header__column {
    gap: 100px;
  }
  .header__nav-item {
    display: none;
  }
  .createTour-section__content {
    min-width: 100%;
  }
  .createTour-section .card {
    padding: 40px;
  }
  .createTour-section .button-container__column-3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .review-section__content {
    min-width: 100%;
  }
  .review-section .card {
    height: 950px;
    padding: 30px;
  }
  .gallery-section__row {
    width: 100%;
  }
  .gallery-section .card-container__column {
    border-radius: 40px;
  }
  .stories-section {
    width: 100%;
  }
  .stories-section__content {
    min-width: 100%;
  }
  .stories-section .card {
    border-radius: 35px;
  }
  .stories-section .card__gradient {
    border-radius: 35px;
  }
  .footer-container .footer-card__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container .footer-card__title h3,
  .footer-container .footer-card__title p {
    text-align: center;
  }
  .footer__row {
    gap: 100px;
  }
}
@media screen and (max-width: 769px) {
  .container {
    padding-top: 100px;
  }
  .content-row {
    gap: 75px;
  }
  .header__content {
    gap: 75px;
  }
  .header__nav {
    display: none;
  }
  .welcome-section {
    height: 778px;
  }
  .createTour-section .input-container__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 33px;
  }
  .createTour-section .input-container__column input,
  .createTour-section .input-container__column select {
    height: 59px;
    padding: 15px;
  }
  .createTour-section .input-container__column textarea {
    height: 142px;
    padding: 15px;
  }
  .createTour-section .input-container__select-image {
    margin-top: 52.4px;
  }
}
@media screen and (max-width: 769px) and (max-width: 571px) {
  .createTour-section .button-container__column-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 769px) {
  .review-section .card-container__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review-section .card-container .card {
    height: 100%;
  }
  .review-section .card-container .card__text-container {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 40px 0 0 0;
  }
  .gallery-section .row-1-photo-3 {
    display: none;
  }
  .gallery-section .row-2-photo-2 {
    display: none;
  }
  .gallery-section .row-3-photo-3 {
    display: none;
  }
  .stories-section .card {
    width: 100%;
    height: 500px;
    background-size: 170% 100%;
  }
  .stories-section .card__title {
    padding: 40px 40px 0 40px;
  }
  .stories-section .card .mobile-br {
    display: none;
  }
  .stories-section .card .button-container {
    padding: 0 40px 40px 40px;
  }
  .stories-section .card .button-container__row button {
    padding: 1.5px 0;
    margin: 0;
  }
  .stories-section .card .button-container__column-2 {
    display: none;
  }
  .stories-section .card:hover {
    background-size: 204% 120%;
  }
  .footer-container__content {
    margin: 0;
  }
  .footer-container .footer-card__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container .footer-card__body {
    width: 100%;
    padding: 0;
  }
  .footer {
    height: 95px;
    margin-top: 100px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 571px) {
  .welcome-section {
    height: 600px;
  }
  .welcome-section__row {
    padding-bottom: 70px;
    gap: 70px;
  }
  .welcome-section__content {
    gap: 45px;
  }
  .welcome-section__text button {
    width: 114px;
    height: 33px;
  }
  .welcome-section .high-br {
    display: none;
  }
  .welcome-section .middle-br {
    display: none;
  }
  .welcome-section .mobile-br {
    display: block;
  }
  .createTour-section .card {
    padding: 20px;
    border-radius: 30px;
  }
  .createTour-section .button-container__column-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .stories-section .card {
    background-size: 250% 100%;
  }
  .stories-section .card:hover {
    background-size: 300% 120%;
  }
  .footer-container .footer-card__column-1 img {
    width: 220px;
    height: 220px;
    border-radius: 30px;
  }
}
@media screen and (max-width: 481px) {
  .container {
    padding-top: 75px;
  }
  .content-row {
    gap: 40px;
  }
  .navigation {
    gap: 20px;
  }
  .header {
    padding: 0 20px;
  }
  .header__content {
    gap: 30px;
  }
  .header__content svg {
    width: 133px;
    height: 22px;
  }
  .welcome-section {
    height: 488px;
  }
  .welcome-section__row {
    padding-bottom: 52px;
    gap: 52px;
  }
  .welcome-section__content {
    width: 100%;
    gap: 40px;
  }
  .welcome-section__content button {
    width: 114px;
    height: 33px;
  }
  .welcome-section high-br {
    display: none;
  }
  .welcome-section middle-br {
    display: none;
  }
  .welcome-section mobile-br {
    display: block;
  }
  .tours-section .navigation__nav {
    gap: 10px;
  }
  .tours-section .navigation__nav button:hover {
    text-underline-offset: 4px;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .tours-section .card-container__row {
    gap: 18px 0;
  }
  .tours-section .card-container__column {
    width: 318px;
  }
  .tours-section .card {
    height: 318px;
    background-size: 105% 145%;
    border-radius: 20px;
  }
  .tours-section .card__gradient {
    padding: 0;
    border-radius: 20px;
  }
  .tours-section .card__body {
    padding: 25px;
  }
  .tours-section .card__title {
    margin: 0;
    gap: 13px;
  }
  .tours-section .card__button button {
    padding: 0;
    margin: 0;
  }
  .createTour-section .card {
    width: 318px;
    padding: 20px;
    border-radius: 30px;
  }
  .createTour-section .card__body {
    gap: 30px;
  }
  .createTour-section .input-container {
    gap: 30px;
  }
  .createTour-section .input-container__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .createTour-section .input-container__column input {
    height: 46px;
    padding: 10px;
  }
  .createTour-section .input-container__column input::-webkit-input-placeholder {
    color: var(--text-color-3);
  }
  .createTour-section .input-container__column input::-moz-placeholder {
    color: var(--text-color-3);
  }
  .createTour-section .input-container__column input:-ms-input-placeholder {
    color: var(--text-color-3);
  }
  .createTour-section .input-container__column input::-ms-input-placeholder {
    color: var(--text-color-3);
  }
  .createTour-section .input-container__column input::placeholder {
    color: var(--text-color-3);
  }
  .createTour-section .input-container__column textarea {
    height: 132px;
    padding: 10px;
  }
  .createTour-section .input-container__column select {
    height: 46px;
    padding: 10px;
  }
  .createTour-section .input-container__select_image {
    padding: 0 10px;
  }
  .createTour-section .input-container__span_image {
    margin-top: 40.71px;
  }
  .createTour-section .button-container__row {
    gap: 30px;
  }
  .createTour-section .button-container__row input {
    width: 20px;
    height: 20px;
  }
  .createTour-section .button-container__radio-content {
    gap: 30px;
  }
  .createTour-section .button-container__radio-content .input {
    gap: 10px;
  }
  .createTour-section .button-container__column-2 {
    gap: 10px;
  }
  .createTour-section .button-container__column-3 {
    gap: 10px;
  }
  .createTour-section .button-container__column-3 button {
    width: 124px;
    height: 37px;
    padding: 12px 29.5px;
  }
  .review-section .card-container__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .review-section .card-container__column {
    width: 318px;
  }
  .review-section .card {
    padding: 20px;
    border-radius: 20px;
  }
  .gallery-section__content {
    padding: 0 21px;
  }
  .gallery-section .card-container {
    padding: 0;
    gap: 18px;
  }
  .gallery-section .card-container__row {
    gap: 18px;
  }
  .gallery-section .card-container__column {
    min-height: 110px;
    border-radius: 20px;
  }
  .gallery-section .card-container .row-1-photo-3 {
    display: none;
  }
  .gallery-section .card-container .row-2-photo-2 {
    display: none;
  }
  .gallery-section .card-container .row-3-photo-3 {
    display: none;
  }
  .stories-section .card-container {
    gap: 20px;
  }
  .stories-section .card {
    width: 318px;
    height: 455px;
    background-size: 300% 100%;
    border-radius: 20px;
    gap: 20px;
  }
  .stories-section .card__gradient {
    border-radius: 20px;
  }
  .stories-section .card__title {
    padding: 30px 25px 0 30px;
  }
  .stories-section .mobile-br {
    display: none;
  }
  .stories-section .button-container {
    padding: 0 0 31.5px 25px;
  }
  .stories-section .button-container__row button {
    padding: 0;
    margin: 0;
  }
  .stories-section .button-container__column-2 {
    display: none;
  }
  .stories-section .card:hover {
    background-size: 360% 120%;
  }
  .stories-section .card:hover button {
    background-color: rgba(0, 0, 0, 0);
  }
  .footer-container__content {
    margin: 0;
  }
  .footer-container .footer-card {
    width: 291px;
  }
  .footer-container .footer-card__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container .footer-card__column-1 img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
  }
  .footer-container .footer-card__body {
    width: 100%;
    padding: 0;
  }
  .footer {
    height: 95px;
    margin: 75px 0 0 0;
    padding: 21px 21.5px;
  }
  .footer__row {
    width: 100%;
    gap: 7px;
  }
  .footer__column-1 {
    margin: 0;
  }
  .footer__links-content {
    gap: 15px;
  }
  .footer__link a {
    gap: 5px;
  }
  .footer__link svg {
    width: 20px;
    height: 20px;
  }
}